@{
    ViewBag.Title = "Opinions";
}

<div id="content">
    <h2>
        Opinions of users
    </h2>
    <p>
        ,,Very interesting application! I like poetry but this was the first time I got to know haikus."
    </p>
</div>
